@media (max-width: 75em) {
	.footer__container--contact {
		padding-left: 3rem;
	}

	.footer__container--sub {
		padding-left: 4rem;
	}
}

@media (max-width: 66.5em) {
	.hero-container {
		gap: 3rem;
	}

	.hero-title {
		padding-left: 6.8rem;
	}

	.hero__title-description {
		font-size: 5.8rem;
	}

	.footer__container--contact {
		padding-left: 0.8rem;
	}
}

@media (max-width: 61em) {
	.header__container {
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 10;

		overflow: scroll;
		background-color: #fff;
		min-height: 100%;
		left: 0;
	}

	.header__contents {
		display: flex;
		flex-direction: column;
	}

	.header__nav {
		display: flex;
		flex-direction: column;
	}

	.header__contacts {
		display: flex;
		flex-direction: column;
	}

	.teachers__container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}
