@media (max-width: 75em) {
	.footer__container--contact {
		padding-left: 3rem;
	}

	.footer__container--sub {
		padding-left: 4rem;
	}
}

@media (max-width: 66.5em) {
	.hero-container {
		gap: 3rem;
	}

	.hero-title {
		padding-left: 6.8rem;
	}

	.hero__title-description {
		font-size: 4.6rem;
		line-height: 1;
	}

	.footer__container--contact {
		padding-left: 0.8rem;
	}
}

@media (max-width: 61em) {
	.header__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		z-index: 11;
		opacity: 0;
		overflow: scroll;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		width: 200px;
		left: 0;
		top: 0;
		transition: all 1s ease-in;
	}

	.header__contents {
		display: flex;
		flex-direction: column;
	}

	.header__nav {
		display: flex;
		flex-direction: column;
	}

	.header__contacts {
		display: flex;
		flex-direction: column;
	}

	.header__sidebar-btn {
		display: block;
	}

	.nav-open .header__container {
		opacity: 1;
	}

	.nav-open .fa-xmark {
		display: block;
	}

	.nav-open .fa-bars {
		display: none;
	}

	header.nav-open {
		margin-left: 200px;
	}

	.nav-open ~ section {
		margin-left: 200px;
	}

	.teachers__container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.footer__container {
		gap: 2rem;
	}

	.footer__container--sub {
		gap: 2rem;
		padding-left: 0;
	}
}

@media (max-width: 57em) {
	.hero__title-description {
		font-size: 4.2rem;
		line-height: 1;
	}

	.footer__container {
		gap: 2rem;
	}
}

@media (max-width: 51.5em) {
	.hero__title-description {
		font-size: 3.4rem;
	}
}

@media (max-width: 45.25em) {
	.hero__title-description {
		font-size: 3.2rem;
	}

	.form {
		gap: 2rem;
		padding: 1rem 1rem;
	}

	.form label {
		margin-bottom: 0;
	}

	.form__title {
		font-size: 2.4rem;
	}

	.form__children-container {
		gap: 0.5rem;
	}

	.form__children-container-input input {
		height: 2.4rem;
	}

	.form__children-container-input i {
		font-size: 1rem;
		top: 8px;
		left: 18px;
	}

	.form__select-container {
		gap: 0.5rem;
	}

	.form__select-container select {
		height: 2.4rem;
	}

	.form__select-container i {
		font-size: 1rem;
		top: 8px;
		left: 18px;
	}

	.footer__container {
		grid-template-columns: 1fr 1fr;
	}
}
